In [1]:
# import the relevant packages
import matplotlib.pyplot as plt
import pandas as pd
import requests
import seaborn as sns

In [3]:
# looking at rainfall, windspeed, wind direction, air temperature, relative humidity API
for variable in ['rainfall', 'wind-speed', 'wind-direction', 'air-temperature', 'relative-humidity']:
    print(variable)
    r = requests.get('https://api.data.gov.sg/v1/environment/{}'.format(variable))
    metadata = r.json()['metadata']
    for key in metadata.keys():
        if key != 'stations':  # don't print information about stations
            print('  {}: {}'.format(key, r.json()['metadata'][key]))

rainfall
  reading_type: TB1 Rainfall 5 Minute Total F
  reading_unit: mm
wind-speed
  reading_type: Wind Speed AVG(S)10M M1M
  reading_unit: knots
wind-direction
  reading_type: Wind Dir AVG (S) 10M M1M
  reading_unit: degrees
air-temperature
  reading_type: DBT 1M F
  reading_unit: deg C
relative-humidity
  reading_type: RH 1M F
  reading_unit: percentage

In [5]:
#focusing on rainfall
#psi
r = requests.get('https://api.data.gov.sg/v1/environment/rainfall')
r.json()

{'metadata': {'stations': [{'id': 'S105',
    'device_id': 'S105',
    'name': 'Admiralty Road West',
    'location': {'latitude': 1.45817, 'longitude': 103.79525}},
   {'id': 'S77',
    'device_id': 'S77',
    'name': 'Alexandra Road',
    'location': {'latitude': 1.2937, 'longitude': 103.8125}},
   {'id': 'S109',
    'device_id': 'S109',
    'name': 'Ang Mo Kio Avenue 5',
    'location': {'latitude': 1.3764, 'longitude': 103.8492}},
   {'id': 'S117',
    'device_id': 'S117',
    'name': 'Banyan Road',
    'location': {'latitude': 1.256, 'longitude': 103.679}},
   {'id': 'S64',
    'device_id': 'S64',
    'name': 'Bukit Panjang Road',
    'location': {'latitude': 1.3824, 'longitude': 103.7603}},
   {'id': 'S90',
    'device_id': 'S90',
    'name': 'Bukit Timah Road',
    'location': {'latitude': 1.3191, 'longitude': 103.8191}},
   {'id': 'S61',
    'device_id': 'S61',
    'name': 'Chai Chee Street',
    'location': {'latitude': 1.323, 'longitude': 103.9217}},
   {'id': 'S114',
    'device_id': 'S114',
    'name': 'Choa Chu Kang Avenue 4',
    'location': {'latitude': 1.38, 'longitude': 103.73}},
   {'id': 'S11',
    'device_id': 'S11',
    'name': 'Choa Chu Kang Road',
    'location': {'latitude': 1.3746, 'longitude': 103.6938}},
   {'id': 'S50',
    'device_id': 'S50',
    'name': 'Clementi Road',
    'location': {'latitude': 1.3337, 'longitude': 103.7768}},
   {'id': 'S107',
    'device_id': 'S107',
    'name': 'East Coast Parkway',
    'location': {'latitude': 1.3135, 'longitude': 103.9625}},
   {'id': 'S215',
    'device_id': 'S215',
    'name': 'GEYLANG EAST CENTRAL',
    'location': {'latitude': 1.32785, 'longitude': 103.88899}},
   {'id': 'S118',
    'device_id': 'S118',
    'name': 'Handy Road',
    'location': {'latitude': 1.2994, 'longitude': 103.8461}},
   {'id': 'S120',
    'device_id': 'S120',
    'name': 'Holland Road',
    'location': {'latitude': 1.30874, 'longitude': 103.818}},
   {'id': 'S33',
    'device_id': 'S33',
    'name': 'Jurong Pier Road',
    'location': {'latitude': 1.3081, 'longitude': 103.71}},
   {'id': 'S71',
    'device_id': 'S71',
    'name': 'Kent Ridge Road',
    'location': {'latitude': 1.2923, 'longitude': 103.7815}},
   {'id': 'S43',
    'device_id': 'S43',
    'name': 'Kim Chuan Road',
    'location': {'latitude': 1.3399, 'longitude': 103.8878}},
   {'id': 'S66',
    'device_id': 'S66',
    'name': 'Kranji Way',
    'location': {'latitude': 1.4387, 'longitude': 103.7363}},
   {'id': 'S112',
    'device_id': 'S112',
    'name': 'Lim Chu Kang Road',
    'location': {'latitude': 1.43854, 'longitude': 103.70131}},
   {'id': 'S07',
    'device_id': 'S07',
    'name': 'Lornie Road',
    'location': {'latitude': 1.3415, 'longitude': 103.8334}},
   {'id': 'S40',
    'device_id': 'S40',
    'name': 'Mandai Lake Road',
    'location': {'latitude': 1.4044, 'longitude': 103.78962}},
   {'id': 'S108',
    'device_id': 'S108',
    'name': 'Marina Gardens Drive',
    'location': {'latitude': 1.2799, 'longitude': 103.8703}},
   {'id': 'S113',
    'device_id': 'S113',
    'name': 'Marine Parade Road',
    'location': {'latitude': 1.30648, 'longitude': 103.9104}},
   {'id': 'S44',
    'device_id': 'S44',
    'name': 'Nanyang Avenue',
    'location': {'latitude': 1.34583, 'longitude': 103.68166}},
   {'id': 'S119',
    'device_id': 'S119',
    'name': 'Nicoll Highway',
    'location': {'latitude': 1.30105, 'longitude': 103.8666}},
   {'id': 'S121',
    'device_id': 'S121',
    'name': 'Old Choa Chu Kang Road',
    'location': {'latitude': 1.37288, 'longitude': 103.72244}},
   {'id': 'S35',
    'device_id': 'S35',
    'name': 'Old Toh Tuck Road',
    'location': {'latitude': 1.3329, 'longitude': 103.7556}},
   {'id': 'S29',
    'device_id': 'S29',
    'name': 'Pasir Ris Drive 12',
    'location': {'latitude': 1.387, 'longitude': 103.935}},
   {'id': 'S94',
    'device_id': 'S94',
    'name': 'Pasir Ris Street 51',
    'location': {'latitude': 1.3662, 'longitude': 103.9528}},
   {'id': 'S78',
    'device_id': 'S78',
    'name': 'Poole Road',
    'location': {'latitude': 1.30703, 'longitude': 103.89067}},
   {'id': 'S106',
    'device_id': 'S106',
    'name': 'Pulau Ubin',
    'location': {'latitude': 1.4168, 'longitude': 103.9673}},
   {'id': 'S81',
    'device_id': 'S81',
    'name': 'Punggol Central',
    'location': {'latitude': 1.4029, 'longitude': 103.9092}},
   {'id': 'S111',
    'device_id': 'S111',
    'name': 'Scotts Road',
    'location': {'latitude': 1.31055, 'longitude': 103.8365}},
   {'id': 'S900',
    'device_id': 'S900',
    'name': 'Seletar Aerospace View',
    'location': {'latitude': 1.41284, 'longitude': 103.86922}},
   {'id': 'S122',
    'device_id': 'S122',
    'name': 'Sembawang Road',
    'location': {'latitude': 1.41731, 'longitude': 103.8249}},
   {'id': 'S60',
    'device_id': 'S60',
    'name': 'Sentosa',
    'location': {'latitude': 1.25, 'longitude': 103.8279}},
   {'id': 'S46',
    'device_id': 'S46',
    'name': 'Sime Road',
    'location': {'latitude': 1.3416, 'longitude': 103.8106}},
   {'id': 'S84',
    'device_id': 'S84',
    'name': 'Simei Avenue',
    'location': {'latitude': 1.3437, 'longitude': 103.9444}},
   {'id': 'S79',
    'device_id': 'S79',
    'name': 'Somerset Road',
    'location': {'latitude': 1.3004, 'longitude': 103.8372}},
   {'id': 'S92',
    'device_id': 'S92',
    'name': 'South Buona Vista Road',
    'location': {'latitude': 1.2841, 'longitude': 103.7886}},
   {'id': 'S88',
    'device_id': 'S88',
    'name': 'Toa Payoh North',
    'location': {'latitude': 1.3427, 'longitude': 103.8482}},
   {'id': 'S123',
    'device_id': 'S123',
    'name': 'Towner Road',
    'location': {'latitude': 1.3214, 'longitude': 103.8577}},
   {'id': 'S89',
    'device_id': 'S89',
    'name': 'Tuas Road',
    'location': {'latitude': 1.31985, 'longitude': 103.66162}},
   {'id': 'S115',
    'device_id': 'S115',
    'name': 'Tuas South Avenue 3',
    'location': {'latitude': 1.29377, 'longitude': 103.61843}},
   {'id': 'S82',
    'device_id': 'S82',
    'name': 'Tuas West Road',
    'location': {'latitude': 1.3247, 'longitude': 103.6351}},
   {'id': 'S24',
    'device_id': 'S24',
    'name': 'Upper Changi Road North',
    'location': {'latitude': 1.3678, 'longitude': 103.9826}},
   {'id': 'S69',
    'device_id': 'S69',
    'name': 'Upper Peirce Reservoir Park',
    'location': {'latitude': 1.37, 'longitude': 103.805}},
   {'id': 'S08',
    'device_id': 'S08',
    'name': 'Upper Thomson Road',
    'location': {'latitude': 1.3701, 'longitude': 103.8271}},
   {'id': 'S116',
    'device_id': 'S116',
    'name': 'West Coast Highway',
    'location': {'latitude': 1.281, 'longitude': 103.754}},
   {'id': 'S104',
    'device_id': 'S104',
    'name': 'Woodlands Avenue 9',
    'location': {'latitude': 1.44387, 'longitude': 103.78538}},
   {'id': 'S100',
    'device_id': 'S100',
    'name': 'Woodlands Road',
    'location': {'latitude': 1.4172, 'longitude': 103.74855}},
   {'id': 'S91',
    'device_id': 'S91',
    'name': 'Yishun Avenue 5',
    'location': {'latitude': 1.4301, 'longitude': 103.8308}}],
  'reading_type': 'TB1 Rainfall 5 Minute Total F',
  'reading_unit': 'mm'},
 'items': [{'timestamp': '2019-11-18T22:00:00+08:00',
   'readings': [{'station_id': 'S105', 'value': 0},
    {'station_id': 'S77', 'value': 0},
    {'station_id': 'S109', 'value': 0},
    {'station_id': 'S117', 'value': 0},
    {'station_id': 'S64', 'value': 0},
    {'station_id': 'S90', 'value': 0},
    {'station_id': 'S61', 'value': 0},
    {'station_id': 'S114', 'value': 0},
    {'station_id': 'S11', 'value': 0},
    {'station_id': 'S50', 'value': 0},
    {'station_id': 'S107', 'value': 0},
    {'station_id': 'S215', 'value': 0},
    {'station_id': 'S118', 'value': 0},
    {'station_id': 'S120', 'value': 0},
    {'station_id': 'S33', 'value': 0},
    {'station_id': 'S71', 'value': 0},
    {'station_id': 'S43', 'value': 0},
    {'station_id': 'S66', 'value': 0},
    {'station_id': 'S112', 'value': 0},
    {'station_id': 'S07', 'value': 0},
    {'station_id': 'S40', 'value': 0},
    {'station_id': 'S108', 'value': 0},
    {'station_id': 'S113', 'value': 0},
    {'station_id': 'S44', 'value': 0},
    {'station_id': 'S119', 'value': 0},
    {'station_id': 'S121', 'value': 0},
    {'station_id': 'S35', 'value': 0},
    {'station_id': 'S29', 'value': 0},
    {'station_id': 'S94', 'value': 0},
    {'station_id': 'S78', 'value': 0},
    {'station_id': 'S106', 'value': 0},
    {'station_id': 'S81', 'value': 0},
    {'station_id': 'S111', 'value': 0},
    {'station_id': 'S900', 'value': 0},
    {'station_id': 'S122', 'value': 0},
    {'station_id': 'S60', 'value': 0},
    {'station_id': 'S46', 'value': 0},
    {'station_id': 'S84', 'value': 0},
    {'station_id': 'S79', 'value': 0},
    {'station_id': 'S92', 'value': 0},
    {'station_id': 'S88', 'value': 0},
    {'station_id': 'S123', 'value': 0},
    {'station_id': 'S89', 'value': 0},
    {'station_id': 'S115', 'value': 0},
    {'station_id': 'S82', 'value': 0},
    {'station_id': 'S24', 'value': 0},
    {'station_id': 'S69', 'value': 0},
    {'station_id': 'S08', 'value': 0},
    {'station_id': 'S116', 'value': 0},
    {'station_id': 'S104', 'value': 0},
    {'station_id': 'S100', 'value': 0},
    {'station_id': 'S91', 'value': 0}]}],
 'api_info': {'status': 'healthy'}}

In [32]:
# Re-organize data into DataFrame, attempt 1
df = pd.DataFrame(r.json()['metadata'])
#df = df.rename(columns={'value': 'psi_twenty_four_hourly'})
df['timestamp (SGT)'] = pd.to_datetime(r.json()['items'][0]['timestamp'].split('+')[0])
df

,stations,reading_type,reading_unit,timestamp (SGT)
0,"{'id': 'S105', 'device_id': 'S105', 'name': 'A...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
1,"{'id': 'S77', 'device_id': 'S77', 'name': 'Ale...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
2,"{'id': 'S109', 'device_id': 'S109', 'name': 'A...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
3,"{'id': 'S117', 'device_id': 'S117', 'name': 'B...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
4,"{'id': 'S64', 'device_id': 'S64', 'name': 'Buk...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
5,"{'id': 'S90', 'device_id': 'S90', 'name': 'Buk...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
6,"{'id': 'S61', 'device_id': 'S61', 'name': 'Cha...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
7,"{'id': 'S114', 'device_id': 'S114', 'name': 'C...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
8,"{'id': 'S11', 'device_id': 'S11', 'name': 'Cho...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
9,"{'id': 'S50', 'device_id': 'S50', 'name': 'Cle...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
10,"{'id': 'S107', 'device_id': 'S107', 'name': 'E...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
11,"{'id': 'S215', 'device_id': 'S215', 'name': 'G...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
12,"{'id': 'S118', 'device_id': 'S118', 'name': 'H...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
13,"{'id': 'S120', 'device_id': 'S120', 'name': 'H...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
14,"{'id': 'S33', 'device_id': 'S33', 'name': 'Jur...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
15,"{'id': 'S71', 'device_id': 'S71', 'name': 'Ken...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
16,"{'id': 'S43', 'device_id': 'S43', 'name': 'Kim...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
17,"{'id': 'S66', 'device_id': 'S66', 'name': 'Kra...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
18,"{'id': 'S112', 'device_id': 'S112', 'name': 'L...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
19,"{'id': 'S07', 'device_id': 'S07', 'name': 'Lor...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
20,"{'id': 'S40', 'device_id': 'S40', 'name': 'Man...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
21,"{'id': 'S108', 'device_id': 'S108', 'name': 'M...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
22,"{'id': 'S113', 'device_id': 'S113', 'name': 'M...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
23,"{'id': 'S44', 'device_id': 'S44', 'name': 'Nan...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
24,"{'id': 'S119', 'device_id': 'S119', 'name': 'N...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
25,"{'id': 'S121', 'device_id': 'S121', 'name': 'O...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
26,"{'id': 'S35', 'device_id': 'S35', 'name': 'Old...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
27,"{'id': 'S29', 'device_id': 'S29', 'name': 'Pas...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
28,"{'id': 'S94', 'device_id': 'S94', 'name': 'Pas...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
29,"{'id': 'S78', 'device_id': 'S78', 'name': 'Poo...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
30,"{'id': 'S106', 'device_id': 'S106', 'name': 'P...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
31,"{'id': 'S81', 'device_id': 'S81', 'name': 'Pun...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
32,"{'id': 'S111', 'device_id': 'S111', 'name': 'S...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
33,"{'id': 'S900', 'device_id': 'S900', 'name': 'S...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
34,"{'id': 'S122', 'device_id': 'S122', 'name': 'S...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
35,"{'id': 'S60', 'device_id': 'S60', 'name': 'Sen...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
36,"{'id': 'S46', 'device_id': 'S46', 'name': 'Sim...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
37,"{'id': 'S84', 'device_id': 'S84', 'name': 'Sim...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
38,"{'id': 'S79', 'device_id': 'S79', 'name': 'Som...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
39,"{'id': 'S92', 'device_id': 'S92', 'name': 'Sou...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
40,"{'id': 'S88', 'device_id': 'S88', 'name': 'Toa...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
41,"{'id': 'S123', 'device_id': 'S123', 'name': 'T...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
42,"{'id': 'S89', 'device_id': 'S89', 'name': 'Tua...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
43,"{'id': 'S115', 'device_id': 'S115', 'name': 'T...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
44,"{'id': 'S82', 'device_id': 'S82', 'name': 'Tua...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
45,"{'id': 'S24', 'device_id': 'S24', 'name': 'Upp...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
46,"{'id': 'S69', 'device_id': 'S69', 'name': 'Upp...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
47,"{'id': 'S08', 'device_id': 'S08', 'name': 'Upp...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
48,"{'id': 'S116', 'device_id': 'S116', 'name': 'W...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
49,"{'id': 'S104', 'device_id': 'S104', 'name': 'W...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
50,"{'id': 'S100', 'device_id': 'S100', 'name': 'W...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00
51,"{'id': 'S91', 'device_id': 'S91', 'name': 'Yis...",TB1 Rainfall 5 Minute Total F,mm,2019-11-18 22:00:00

In [15]:
# get date references
from datetime import timedelta, date

dates =[]
dates_2016=[]
dates_2017=[]
dates_2018=[]
dates_2019=[]
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

start_date_2016= date(2016,1,1)
end_date_2016= date(2017,1,1)
start_date_2017= date(2017,1,1)
end_date_2017= date(2018,1,1)
start_date_2018= date(2018,1,1)
end_date_2018= date(2019,1,1)
start_date_2019= date(2019,1,1)
end_date_2019= date(2020,1,1)


for single_date in daterange(start_date_2016, end_date_2016):
  dates_2016.append(single_date.strftime("%Y-%m-%d"))

for single_date in daterange(start_date_2017, end_date_2017):
  dates_2017.append(single_date.strftime("%Y-%m-%d"))

for single_date in daterange(start_date_2018, end_date_2018):
  dates_2018.append(single_date.strftime("%Y-%m-%d"))

for single_date in daterange(start_date_2019, end_date_2019):
  dates_2019.append(single_date.strftime("%Y-%m-%d"))

dates_2019

['2019-01-01',
 '2019-01-02',
 '2019-01-03',
 '2019-01-04',
 '2019-01-05',
 '2019-01-06',
 '2019-01-07',
 '2019-01-08',
 '2019-01-09',
 '2019-01-10',
 '2019-01-11',
 '2019-01-12',
 '2019-01-13',
 '2019-01-14',
 '2019-01-15',
 '2019-01-16',
 '2019-01-17',
 '2019-01-18',
 '2019-01-19',
 '2019-01-20',
 '2019-01-21',
 '2019-01-22',
 '2019-01-23',
 '2019-01-24',
 '2019-01-25',
 '2019-01-26',
 '2019-01-27',
 '2019-01-28',
 '2019-01-29',
 '2019-01-30',
 '2019-01-31',
 '2019-02-01',
 '2019-02-02',
 '2019-02-03',
 '2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10',
 '2019-02-11',
 '2019-02-12',
 '2019-02-13',
 '2019-02-14',
 '2019-02-15',
 '2019-02-16',
 '2019-02-17',
 '2019-02-18',
 '2019-02-19',
 '2019-02-20',
 '2019-02-21',
 '2019-02-22',
 '2019-02-23',
 '2019-02-24',
 '2019-02-25',
 '2019-02-26',
 '2019-02-27',
 '2019-02-28',
 '2019-03-01',
 '2019-03-02',
 '2019-03-03',
 '2019-03-04',
 '2019-03-05',
 '2019-03-06',
 '2019-03-07',
 '2019-03-08',
 '2019-03-09',
 '2019-03-10',
 '2019-03-11',
 '2019-03-12',
 '2019-03-13',
 '2019-03-14',
 '2019-03-15',
 '2019-03-16',
 '2019-03-17',
 '2019-03-18',
 '2019-03-19',
 '2019-03-20',
 '2019-03-21',
 '2019-03-22',
 '2019-03-23',
 '2019-03-24',
 '2019-03-25',
 '2019-03-26',
 '2019-03-27',
 '2019-03-28',
 '2019-03-29',
 '2019-03-30',
 '2019-03-31',
 '2019-04-01',
 '2019-04-02',
 '2019-04-03',
 '2019-04-04',
 '2019-04-05',
 '2019-04-06',
 '2019-04-07',
 '2019-04-08',
 '2019-04-09',
 '2019-04-10',
 '2019-04-11',
 '2019-04-12',
 '2019-04-13',
 '2019-04-14',
 '2019-04-15',
 '2019-04-16',
 '2019-04-17',
 '2019-04-18',
 '2019-04-19',
 '2019-04-20',
 '2019-04-21',
 '2019-04-22',
 '2019-04-23',
 '2019-04-24',
 '2019-04-25',
 '2019-04-26',
 '2019-04-27',
 '2019-04-28',
 '2019-04-29',
 '2019-04-30',
 '2019-05-01',
 '2019-05-02',
 '2019-05-03',
 '2019-05-04',
 '2019-05-05',
 '2019-05-06',
 '2019-05-07',
 '2019-05-08',
 '2019-05-09',
 '2019-05-10',
 '2019-05-11',
 '2019-05-12',
 '2019-05-13',
 '2019-05-14',
 '2019-05-15',
 '2019-05-16',
 '2019-05-17',
 '2019-05-18',
 '2019-05-19',
 '2019-05-20',
 '2019-05-21',
 '2019-05-22',
 '2019-05-23',
 '2019-05-24',
 '2019-05-25',
 '2019-05-26',
 '2019-05-27',
 '2019-05-28',
 '2019-05-29',
 '2019-05-30',
 '2019-05-31',
 '2019-06-01',
 '2019-06-02',
 '2019-06-03',
 '2019-06-04',
 '2019-06-05',
 '2019-06-06',
 '2019-06-07',
 '2019-06-08',
 '2019-06-09',
 '2019-06-10',
 '2019-06-11',
 '2019-06-12',
 '2019-06-13',
 '2019-06-14',
 '2019-06-15',
 '2019-06-16',
 '2019-06-17',
 '2019-06-18',
 '2019-06-19',
 '2019-06-20',
 '2019-06-21',
 '2019-06-22',
 '2019-06-23',
 '2019-06-24',
 '2019-06-25',
 '2019-06-26',
 '2019-06-27',
 '2019-06-28',
 '2019-06-29',
 '2019-06-30',
 '2019-07-01',
 '2019-07-02',
 '2019-07-03',
 '2019-07-04',
 '2019-07-05',
 '2019-07-06',
 '2019-07-07',
 '2019-07-08',
 '2019-07-09',
 '2019-07-10',
 '2019-07-11',
 '2019-07-12',
 '2019-07-13',
 '2019-07-14',
 '2019-07-15',
 '2019-07-16',
 '2019-07-17',
 '2019-07-18',
 '2019-07-19',
 '2019-07-20',
 '2019-07-21',
 '2019-07-22',
 '2019-07-23',
 '2019-07-24',
 '2019-07-25',
 '2019-07-26',
 '2019-07-27',
 '2019-07-28',
 '2019-07-29',
 '2019-07-30',
 '2019-07-31',
 '2019-08-01',
 '2019-08-02',
 '2019-08-03',
 '2019-08-04',
 '2019-08-05',
 '2019-08-06',
 '2019-08-07',
 '2019-08-08',
 '2019-08-09',
 '2019-08-10',
 '2019-08-11',
 '2019-08-12',
 '2019-08-13',
 '2019-08-14',
 '2019-08-15',
 '2019-08-16',
 '2019-08-17',
 '2019-08-18',
 '2019-08-19',
 '2019-08-20',
 '2019-08-21',
 '2019-08-22',
 '2019-08-23',
 '2019-08-24',
 '2019-08-25',
 '2019-08-26',
 '2019-08-27',
 '2019-08-28',
 '2019-08-29',
 '2019-08-30',
 '2019-08-31',
 '2019-09-01',
 '2019-09-02',
 '2019-09-03',
 '2019-09-04',
 '2019-09-05',
 '2019-09-06',
 '2019-09-07',
 '2019-09-08',
 '2019-09-09',
 '2019-09-10',
 '2019-09-11',
 '2019-09-12',
 '2019-09-13',
 '2019-09-14',
 '2019-09-15',
 '2019-09-16',
 '2019-09-17',
 '2019-09-18',
 '2019-09-19',
 '2019-09-20',
 '2019-09-21',
 '2019-09-22',
 '2019-09-23',
 '2019-09-24',
 '2019-09-25',
 '2019-09-26',
 '2019-09-27',
 '2019-09-28',
 '2019-09-29',
 '2019-09-30',
 '2019-10-01',
 '2019-10-02',
 '2019-10-03',
 '2019-10-04',
 '2019-10-05',
 '2019-10-06',
 '2019-10-07',
 '2019-10-08',
 '2019-10-09',
 '2019-10-10',
 '2019-10-11',
 '2019-10-12',
 '2019-10-13',
 '2019-10-14',
 '2019-10-15',
 '2019-10-16',
 '2019-10-17',
 '2019-10-18',
 '2019-10-19',
 '2019-10-20',
 '2019-10-21',
 '2019-10-22',
 '2019-10-23',
 '2019-10-24',
 '2019-10-25',
 '2019-10-26',
 '2019-10-27',
 '2019-10-28',
 '2019-10-29',
 '2019-10-30',
 '2019-10-31',
 '2019-11-01',
 '2019-11-02',
 '2019-11-03',
 '2019-11-04',
 '2019-11-05',
 '2019-11-06',
 '2019-11-07',
 '2019-11-08',
 '2019-11-09',
 '2019-11-10',
 '2019-11-11',
 '2019-11-12',
 '2019-11-13',
 '2019-11-14',
 '2019-11-15',
 '2019-11-16',
 '2019-11-17',
 '2019-11-18',
 '2019-11-19',
 '2019-11-20',
 '2019-11-21',
 '2019-11-22',
 '2019-11-23',
 '2019-11-24',
 '2019-11-25',
 '2019-11-26',
 '2019-11-27',
 '2019-11-28',
 '2019-11-29',
 '2019-11-30',
 '2019-12-01',
 '2019-12-02',
 '2019-12-03',
 '2019-12-04',
 '2019-12-05',
 '2019-12-06',
 '2019-12-07',
 '2019-12-08',
 '2019-12-09',
 '2019-12-10',
 '2019-12-11',
 '2019-12-12',
 '2019-12-13',
 '2019-12-14',
 '2019-12-15',
 '2019-12-16',
 '2019-12-17',
 '2019-12-18',
 '2019-12-19',
 '2019-12-20',
 '2019-12-21',
 '2019-12-22',
 '2019-12-23',
 '2019-12-24',
 '2019-12-25',
 '2019-12-26',
 '2019-12-27',
 '2019-12-28',
 '2019-12-29',
 '2019-12-30',
 '2019-12-31']

In [ ]:
2019-02-08

In [33]:
results = []
timestamp = []
base_url= 'https://api.data.gov.sg/v1/environment/rainfall?date='
for date in dates_2016:
  res = requests.get(base_url+date)
  for i in range(len(res.json()['items'])):
    #print(res.json()['items'][i]['timestamp'])
    time = res.json()['items'][i]['timestamp']
    timestamp.append(time)
    # we'll take only the pm25 readings
    #print(res.json()['items'][i]['readings']['pm10_sub_index'])
    results.append(pd.DataFrame(res.json()['items'][i]['readings']['pm25_sub_index'].items()).set_index(0).T)
  
psi_df_2016 = pd.concat(results)

psi_df_2016.reset_index(drop = True, inplace = True)
psi_df_2016['timestamp'] = timestamp
psi_df_2016.head(100)
#df_concat.reset_index(drop = True, inplace = True)
#df_concat['timestamp'] = timestamp
#df_concat.head()

TypeError: list indices must be integers or slices, not str